<ul>
  <li>chapterCount: {{@book.chapterCount}}</li>
  <li>bitsCount: {{@book.bitsCount}}</li>
</ul>

<ul>
  <li>chapterCountΔ: {{chapterCountΔ}}</li>
  <li>bitsCountΔ: {{bitsCountΔ}}</li>
</ul>

<button {{action "addBits"}}>Add bits</button>
